<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center oleo-script">Devgram</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" class="camera" (click)="showSendPhoto()">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="add-circle">
        <ion-icon name="add-circle"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="heart">
        <ion-icon name="heart"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="contact">
        <ion-icon name="person-circle"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
